<div class="jumbotron">
    <h1>API REST Simples</h1>
    <p class="lead">API Simples utilizando Post, PUT, DELETE, GET</p>

    <p>
        Understanding REST
    </p>
    <p>
        REST (Representational State Transfer) was introduced and defined in 2000 by Roy Fielding in his doctoral dissertation. REST is an architectural style for designing distributed systems. It is not a standard but a set of constraints, such as being stateless, having a client/server relationship, and a uniform interface. REST is not strictly related to HTTP, but it is most commonly associated with it.
    </p>
    <p>
        Principles of REST
    </p>
    <p>
        Resources expose easily understood directory structure URIs.
    </p>
    <p>
        Representations transfer JSON or XML to represent data objects and attributes.
    </p>
    <p>
        Messages use HTTP methods explicitly (for example, GET, POST, PUT, and DELETE).
    </p>
    <p>
        Stateless interactions store no client context on the server between requests. State dependencies limit and restrict scalability. The client holds session state.
    </p>
    <p>
        HTTP methods
    </p>
    <p>
        Use HTTP methods to map CRUD (create, retrieve, update, delete) operations to HTTP requests.

    </p>
    <p>
        GET
    </p>
    <p>
        Retrieve information. GET requests must be safe and idempotent, meaning regardless of how many times it repeats with the same parameters, the results are the same. They can have side effects, but the user doesn't expect them, so they cannot be critical to the operation of the system. Requests can also be partial or conditional.
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
